.star-rating {
    display: flex;
    direction: row;
    gap: 5px;
}

.star {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    padding: 0;
    transition: color 0.2s ease;
}

.star.filled {
    color: #0A65CC;
}

.star:hover {
    color: #0A65CC;
}
